asgiref==3.9.1
Django==5.2.5
ecdsa==0.19.1
gunicorn==23.0.0
MarkupSafe==3.0.2
packaging==25.0
pillow==11.3.0
python-dotenv==1.1.1
python-http-client==3.3.7
sendgrid==6.12.4
six==1.17.0
sqlparse==0.5.3
Werkzeug==3.1.3
