{% load i18n %}{% autoescape off %}
Hello,

We received a request to reset the password for your My Diary account associated with {{ email }}.

Reset Your Password:
{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

Your username: {{ user.get_username }}

SECURITY NOTICE:
If you didn't request a password reset, you can safely ignore this email. Your password won't be changed unless you click the link above and create a new one.

Thanks for using My Diary!

---
This email was sent from My Diary App
For security reasons, this password reset link will expire in 24 hours.
{% endautoescape %}